<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <membership defaultProvider="MySQLMembershipProvider">
      <providers>
        <remove name="MySQLMembershipProvider" />
        <add name="MySQLMembershipProvider" type="MySql.Web.Security.MySQLMembershipProvider, MySql.Web, Version=6.9.9.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" connectionStringName="LocalMySqlServer" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="true" applicationName="/" requiresUniqueEmail="false" passwordFormat="Clear" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="7" minRequiredNonalphanumericCharacters="1" passwordAttemptWindow="10" passwordStrengthRegularExpression="" />
      </providers>
    </membership>
    <profile defaultProvider="MySQLProfileProvider">
      <providers>
        <remove name="MySQLProfileProvider" />
        <add name="MySQLProfileProvider" type="MySql.Web.Profile.MySQLProfileProvider, MySql.Web, Version=6.9.9.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" connectionStringName="LocalMySqlServer" applicationName="/" />
      </providers>
    </profile>
    <roleManager defaultProvider="MySQLRoleProvider">
      <providers>
        <remove name="MySQLRoleProvider" />
        <add name="MySQLRoleProvider" type="MySql.Web.Security.MySQLRoleProvider, MySql.Web, Version=6.9.9.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" connectionStringName="LocalMySqlServer" applicationName="/" />
      </providers>
    </roleManager>
    <siteMap defaultProvider="MySqlSiteMapProvider">
      <providers>
        <remove name="MySqlSiteMapProvider" />
        <add name="MySqlSiteMapProvider" type="MySql.Web.SiteMap.MySqlSiteMapProvider, MySql.Web, Version=6.9.9.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" connectionStringName="LocalMySqlServer" applicationName="/" />
      </providers>
    </siteMap>
    <webParts>
      <personalization defaultProvider="MySQLPersonalizationProvider">
        <providers>
          <remove name="MySQLPersonalizationProvider" />
          <add name="MySQLPersonalizationProvider" type="MySql.Web.Personalization.MySqlPersonalizationProvider, MySql.Web, Version=6.9.9.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" connectionStringName="LocalMySqlServer" applicationName="/" />
        </providers>
      </personalization>
    </webParts>
    
  <pages>
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls>
    </pages></system.web>
  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.9.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>
   <appSettings>
    <add key="GoogleAPIKey" value="AIzaSyBqbowR-qg0WYOF-w7jWUPkd4ppUGjG6dY" />
    
  <add key="MERCHANT_KEY" value="j8HMSD" />
    <add key="SALT" value="Fsu4dTyK" />
    <add key="PAYU_BASE_URL" value="https://test.payu.in" />
    <add key="action" value="" />
    <add key="hashSequence" value="key|txnid|amount|productinfo|firstname|email|udf1|udf2|udf3|udf4|udf5|udf6|udf7|udf8|udf9|udf10" />
 
 
  </appSettings>
 <connectionStrings>
<add name="coursekattaConnectionString" connectionString="server=localhost;uid=root;database=anuvaa_coldemo"  providerName="MySql.Data.MySqlClient"/>
<remove name="LocalMySqlServer" />
    </connectionStrings>
  <!--<connectionStrings>    <add name="courseKattaConnectionString" connectionString="password=anuvaa_coldemo;server=182.50.133.88;user id=anuvaa_coldemo;database=anuvaa_coldemo"
      providerName="MySql.Data.MySqlClient" />
  
    <add name="coursekattaConnectionString" connectionString="server=localhost;user id=root;database=anuvaa_coldemo" providerName="MySql.Data.MySqlClient" />
    <add name="coursekattaConnectionStringServer" connectionString="password=anuvaa_coldemo;server=182.50.133.88;user id=anuvaa_coldemo;database=anuvaa_coldemo" providerName="MySql.Data.MySqlClient" />
    <add name="courseKattaConnectionStringOldServer" connectionString="password=anuvaa_coldemo;server=50.62.209.38;user id=anuvaa_coldemo;database=anuvaa_coldemo" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>-->
</configuration>